table, th, tr, td {
    border: 1px solid;
    min-width: 100px;
    padding: 3px;
}

.ip-table {
   height: 100vh;
   flex-direction: column;
   margin: auto; 
   transform: translateY(30px);
   justify-content: center;
   max-width: 1300px !important;

   .row-action, .row-action-th {
     width: 100px;
     text-align: center;
     button {
       width: 100%;
     }
   }

   @keyframes row-appear {
    from { opacity: 0%; }
    to { opacity: 100%; }
   }

   .ip-table-row {
     animation-name: row-appear;
     animation-duration: 150ms;

   }

   .ip-table-actions {
      $height: 40px;
      display: flex; 
      justify-content: space-between;
      margin: 2em 0; 
      height: $height;

      .ip-table-filtering {
        display: flex;

        .ip-table-search {
          font-size: 1.2em;
          border-radius: 0;
          border: 3px solid rgba(0, 0, 0, 0.2);
          height: 100%;
          max-height: $height;
          &:focus-visible {
            box-shadow: none;
          }
       }

       img {
         width: $height;
       }
     }

     .ip-table-export {
       button {
        height: 100%;
       }
     }
   }
}

@media screen and (min-width: 1100px) {  
    .ip-table {
        thead {
          tr {
            th {
                font-size: 1.2em;
                padding: 0.5em 1.3em;
            }
          }
        }
        tbody {
          td {
            font-size: 1.3em;
          }
        }
    }
}
